{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 hidden  id="type">{{type}}</h1>
    {% if user.is_authenticated %}
    <div id="newPost">
        <form id="newPostForm">
            {% csrf_token %}
            <textarea name="postContent" id="postContent" cols="60" rows="5" placeholder="Write what you are thinking..."></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
    {% endif %}    
    <div id="allPost">        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}

