{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  <div>
    <h3>{{profileName}}</h3>
    <h4>{{followersNumber}} Followers {{followsNumber}} Follows </h4>
    {% if user.username != profileName %}
      {% if  currentUserFollows %}
        <a class="btn btn-danger" href="/unfollow/{{profileName}}" role="button">Unfollow</a>
      {% else %}
        <a class="btn btn-primary" href="/follow/{{profileName}}" role="button">Follow</a>
      {% endif %}
    {% endif %}    
  </div>
  {% for post in userPosts%}   
    <div class="postDiv">
      <div class="postHeader"><a href="/profile/{{post.user.username}}">{{post.user.username}}</a> at {{post.timestamp}} said:</div>
      <div class="postContent">{{post.content}}</div>
      <div class="postFooter"><span id="span{{post.id}}">{{post.likesNumber}}</span> likes</div>
      {% if user.username == profileName %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#editPostModal_{{post.id}}">Edit</button>
        <div class="modal fade" id="editPostModal_{{post.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea rows="5" class="form-control" id="textArea_{{post.id}}">{{post.content}}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editPost({{post.id}})">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}  
{% endblock %}

{% block script %}
  <script>    
    function editPost(postID){
      const content = document.querySelector(`#textArea_${postID}`).value
      fetch(`/editPost/${postID}`, {
        method: "PUT",
        body: JSON.stringify({
          content: content,
        })
      }).then(()=>location.reload()) 
    }

  </script>
{% endblock %}

